.icon {
	cursor: pointer;
	overflow: hidden;
	position: relative;
	width: 25px;
	height: 25px;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all 0.5s;

	&:hover {
		transform: scale(1.2);
	}


	// Types.

	&.type-1 {
		background-image: url('/assets/svg/icon-1.svg');
	}

	&.type-2 {
		background-image: url('/assets/svg/icon-2.svg');
	}
}



// ------------------------------
// RESPONSIViTY
// ------------------------------

@media only screen and (min-width: $breakpoint-3) {

	.icon {
		width: 40px;
		height: 40px;
		background-size: 49px 40px;
	
		&:hover {
			transform: scale(1.2);
		}
	}
}


